* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: url(./assets/background.jpeg);
    background-repeat: no-repeat;
    background-color: #36454F;
}

.header {
    padding: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
}


.header section {
    margin-right: 40px;
    float: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}

.navBar li {
    text-decoration: underline;
    color: slateblue;
}

.header section ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: slateblue;
    text-decoration: none;
}


.aside {
    color: slateblue;
    padding-top: 50px;
    margin-right: 100px;
    float: right;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}


.aside h1 {
    list-style-type: none;
    display: inline-block;
    margin-left: 600px;
    inline-size: 50%;
}


.info h1{
    color: slateblue;
    text-decoration: underline;
    display: inline-block;
    margin-top: 10%;
    font-size: 48px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.me {
    margin-left: 8%;
    margin-bottom: 80px;
    border: 9px solid slateblue;
    border-radius: 30%;
    width: 15%;

}

.info h2 {
    color: lavenderblush;
    line-height: 35px;
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-wrap: wrap;
}


.main  h1 {
    color: slateblue;
    text-decoration: underline;
    font-size: 48px;
    margin-top: 15%;
    padding-left: 11%;
}

.pics {
    
    display: flex;
    align-items: center;
    
}


.tech {
    border-radius: 30%;
    transition: transform 0.3s ease;
    margin: 20px;

}

.open {
    border-radius: 30%;
    transition: transform 0.3s ease;
    margin-top: 20px;
}

.beyond {
    border-radius: 30%;
    transition: transform 0.3s ease;
    margin: 20px;
}
  
  .tech:hover,
  .open:hover,
  .beyond:hover {
    transform: scale(1.2); /* Scale the element to 120% of its size */
  }

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.footer h1 {
    color: slateblue;
    text-decoration: underline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-block;
    font-size: 48px;
    margin-top: 25%;
    padding-left: 10%;
}

.footer ul {
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    margin-left: 50px;
    margin-bottom: 50px;
}


.footer ul {
    list-style-type: none;
}


.footer ul li {
    display: inline-block;
    margin-left: 25px;
}

